apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: otp-gen-db
  namespace: auth
stringData:
  host: <DB_HOST>
  port: '<DB_PORT>'
  port_pool: '<DB_PORT_POOL>'
  username: <DB_USERNAME>
  password: <DB_PASSWORD>
  database: <DB>
  database_pool: <DB_POOL>
  database_pools: {DB_POOLS}
  url: <DB_URL>
  url_pool: <DB_URL_POOL>
  url_pools: <DB_URL_POOLS>
  otp_secret: <OTP_SECRET>