apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: otp-gen-db
  namespace: auth
stringData:
  host: <DB_HOST>
  port: '<DB_PORT>'
  username: <DB_USERNAME>
  password: <DB_PASSWORD>
  database: <DB>
  url: <DB_URL>
  otp_secret: <OTP_SECRET>