apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: otp-gen-db
  namespace: auth
stringData:
  host: <DB_HOST>
  port: '<DB_PORT>'
  port_pool: '<DB_PORT_POOL>'
  username: <DB_USERNAME>
  password: <DB_PASSWORD>
  database: <DB>
  database_pool: <DB_POOL>
  database_jobs: {DB_JOBS}
  database_jobs_pool: {DB_JOBS}
  url: <DB_URL>
  url_pool: <DB_URL_POOL>
  url_jobs: <DB_JOBS_URL>
  url_jobs_pool: <DB_JOBS_URL>